.git
mode_modules
site/原稿
*.zip

.DS_Store
.bundle
.idea/
.vagrant
Movefile
vendor
LICENSE
Vagrantfile
provision

www/wordpress/*
www/wordpress/wp-content/*
!www/wordpress/wp-content/themes/kkc/
www/wordpress/wp-content/themes/kkc/site.yml
www/wordpress/wp-content/themes/kkc/gulpfile.js
www/wordpress/wp-content/themes/kkc/package.json